$bluedark: #000035;
$blue: #00004E;
$cyan: #00F2F2;
$darkgray: #2e2e2e;
$gray1: #5a5a5a;
$gray2: #999999;
$gray3: #d4d4d4;
$whitesmoke: #F3F3F3;

*{
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: $whitesmoke;
    line-height: 1.5rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Titillium Web', sans-serif;
}
p, li {
    color: $gray1;
    font-size: 14px;
    font-weight: 400;
}

.btn-viewmore {
    background-color: rgba(40, 14, 187, 0.199) !important;
    border-radius: 0;
    color: #a5a5a5 !important;
    font-size: 15px;
    &:hover {
        color: white !important;
        background-color: rgba(40, 14, 187, 0.521) !important;
    }

}

.btn-scrollTop {
    position: fixed;
    display: none;
    background-color: $cyan;
    border-radius: 5px 0px 0px 5px;
    color: rgba(255, 255, 255, 0.582);
    width: 45px;
    border: 0;
    padding: 5px;
    padding-left: 25px;
    right: -1.5%;
    bottom: 1%;
    transition: .3s ease;
    &:hover {
        transition: .3s ease;
        background-color: $whitesmoke;
        color: $gray1;
        right: 0;
        padding-left: 5px;
    }
    small {
        font-size: 10px;
        font-weight: 500;
    }
}

.navbar-primary {
    background-color: $whitesmoke;
    padding: 0 !important;
    margin: 0;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.068);
    .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-sidemenu {
        background-color: #fff;
        padding: 0.7em;
        border-right: 1px solid #DBDBDB;
        img {
            width: 35px;
        }
        &:hover {
            background-color: #fdfdfd;
        }
        &:click {
            aside {
                left:0;
            }
        }
    }
    .btn-portfolio {
        background-color: $bluedark;
        padding: 1.7em 0.5em;
        font-weight: 300;
        .nav-link {
            color: white !important;
        }
        &:hover {
            background-color: #000277;
        }
    }

    .btn-backtohome {
        background-color: $bluedark;
        padding: 2em 0.5em;
        font-weight: 300;
        font-size: 13px;
        .nav-link {
            color: $gray3 !important;
        }
        &:hover {
            background-color: #000277;
            .nav-link {
                color: white !important;
            }
        }
    }
    .btn-socmed {
        padding-right: 20px;
        li {
            padding: 0;
            a {
                padding: 7px;
                color: gray;
                &:hover {
                    color: $bluedark;
                }
            }
        }
    }
}

.navbar-secondary {
    background-color: $bluedark;
    color: $whitesmoke;
    border: 2px solid $blue;
    .navbar-brand {
        img {
            max-width: 150px;
            margin-top: 5px;
        }
    }
    .navbar-toggler {
        border: none;
        border-radius: 0;
        padding:0;
        color: whitesmoke !important;
        .navbar-toggler-icon {
            color: $gray3 !important;
        }
    }
    .navbar-nav {
        padding:0;
        .nav-item {
            &.active {
                color: white !important;
                a {
                    font-weight: 600 !important;
                    color: $gray3;
                }
            }
            .nav-link {
                font-family: 'Titillium Web', sans-serif;
                color: #9c9c9c;
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
                font-weight: 400;
                &:hover {
                    color: white !important;
                    a {
                        font-weight: 500 !important;
                        color: $gray3;
                    }
                }
            }
        }
        .dropdown {
            &:hover>.dropdown-menu {
                display: block;
            }
            .dropdown-menu {
                border-radius: 0;
                .dropdown-item {
                    font-size: 15px;
                }
            }
        }
    }
}

aside {
    position: fixed;
    top: 0;
    z-index: 9999999;
    left: -500px;
    width: 300px;
    height: 100%;
    background-color: #E6E6E6;
    padding-left: 15px;
    padding-right: 15px;
    transition: all .5s ease;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.2);
    header {
        font-family: 'Titillium Web', sans-serif;
        font-size: 17px;
        font-weight: 600;
        padding: 25px 0;
        border-bottom: 1px solid rgb(180, 180, 180);

        button {
            background-color: gray !important;
            color: white !important;
            font-size: 25px !important;
            padding: 0px 10px !important;
            border-radius: 0px !important;
            float: right !important;
            &:hover {
                background-color: gray !important;
            }
        }
    }
    .menu {
        padding: 15px 0;
        li {
            a {
                font-family: 'Titillium Web', sans-serif;
                text-decoration: none !important;
                display: block;
                height: 100%;
                width: 100%;
                line-height: 50px;
                font-size: 20px;
                font-weight: 300;
                color: #828282;
                padding-left: 10px;
                box-sizing: border-box;
                border-bottom: 1px solid #D9D9D9;
                transition: .4s;
                &:hover {
                    padding-left: 25px;
                    color: #4D4D4D;
                    font-weight: 600;
                    background-color: #dddddd;
                }
                &.active {
                    font-weight: 700;
                    color: #4D4D4D;
                }
            }
            list-style: none;
        }
    }
    .footer-sidemenu {
        bottom: 0;
        left:0;
        margin: 0 auto;
        color: #9F9F9F;
        position: absolute;
        text-align: center;
        width: 100%;
        font-weight: 300;
        padding-bottom: 10px;
        .socmed {
            text-align: center;
            list-style: none;
            margin-top: 10px;
            a {
                padding: 7px;
                color: #6B6B6B;
            }
        }
    }
}

#hero {
    margin: 0;
    background-color: $bluedark;
    height: 100vh;

    .caption-hero {
        color: $whitesmoke;
        h1 {
            font-family: 'Titillium Web', sans-serif;
            font-size: 50px;
            font-weight: 200;
            margin-top: 35vh;
            margin-left: 20vh;
            span {
                font-family: 'Titillium Web', sans-serif;
                font-weight: 700;
                color: cyan;
            }
        }
        .btn-hero {
            width:220px;
            padding: 10px;
            background-color: $cyan;
            border-radius: 0;
            margin-top: 30px;
            margin-left: 20vh;
            font-size: 18px;
            font-weight: 700 !important;
            border-left: 7px solid whitesmoke;
            &:hover {
                border-left: 7px solid whitesmoke;
                background-color: whitesmoke;
            }
        }
    }
    
    .logo-hero {
        text-align: center;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        img {
            margin-top: 30vh;
            transition: all .3s ease-in-out;
            &:hover {
                transition: all .3s ease-in-out;
                transform: rotateZ(-25deg)
            }
        }
    }

    .socmed {
        background-color: $blue;
        position: absolute;
        width: 90px;
        height: 100%;
        z-index: 1;
        ul {
            list-style: none;
            position: absolute;
            top: 36vh;
            left: -1.5em;
            li {
                margin-bottom: 10px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

#about {
    min-height: 50vh;
    .about-image {
        min-height: 50vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .about-caption {
        min-height: 50vh;
        padding: 3%;
        .nav-item{
            margin-right: 5px;
            .btn-about {
                padding: 10px;
                border-radius: 0;
                display: block;
                font-weight: bold;
                font-size: 22px;
                font-family: 'Titillium Web', sans-serif;
                background-color: $gray3;
                box-shadow: 2px 4px 5px rgba(128, 128, 128, 0.11);
                color: $darkgray;
                transition: .3s ease;
                text-decoration: none;
                &:hover {
                    background-color: cyan;
                    color: $bluedark;
                }
                &.active {
                    background-color: cyan;
                    color: $bluedark;
                }
            }
        }
        .tab-content {
            margin-top: 40px;
            h3 {
                font-size: 23px;
                font-weight: bolder;
                margin-bottom: 10px;
            }
        }
        
    }
}

#clients {
    background-color: white;
    padding: 2em;
    .caption-clients {
        padding: 0px;
        padding-left: 30px;
        h2 {
            font-weight: bolder;
            font-size: 30px;
        }
        a {
            text-decoration: none;
            color: $gray2;
        }
    }
    .clients-item {
        display: flex;
        justify-content: center;
        align-items: center;
        .img-item {
            margin-left: 10px;
            text-align: center;
            .client {
                max-width: 6em;
            }
        }
    }
}

#services {
    background-color: $gray3;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    .head-services {
        header {
            margin-bottom: 40px;
            h2 {
                font-size: 33px;
                font-weight: bold;
            }
        }
    }
    .item-services {
        padding: 5px;
        .card {
            // max-width: 260px;
            margin-bottom: 20px;
            border: none;
            .card-header,.card-body,.card-footer {
                border: 0;
                border-radius: 0;
            }
            .card-header {
                background-color: #fff;
                img {
                    margin-top: 20px;
                }
            }
            .card-body {
                min-height: 200px;
                h5 {
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }
            .card-footer {
                .btn-services {
                    background-color: $bluedark;
                    color: white;
                    font-family: 'Poppins';
                    font-size: 16px;
                    font-weight: light;
                    // border-left: 6px solid $cyan;
                    border-radius: 0;
                    &:hover {
                        background-color: #061e6bfd;
                    }
                }
            }
        }
    }
}

#portfolio {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    .head-portfolio {
        header {
            margin-bottom: 40px;
            h2 {
                font-size: 33px;
                font-weight: bold;
            }
        }
    }
    .item-portfolio {
        padding: 5px;
        .card {
            text-align: center;
            margin-bottom: 27px;
            border: none;
            .card-header,.card-body {
                border-radius: 0;
            }
            &:hover {
                box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.055);
                .card-header {
                    img {
                        transform: scale(2,2);
                        transition: all .3s ease-in-out;    
                    }
                }
            }
            .card-header,.card-footer {
                border: 0;
            }
            .card-header {
                background-color: #fff;
                padding: 0;
                overflow: hidden;
                img {
                    transition: all .2s ease-in-out ;
                }
            }
            .card-body {
                min-height: 100px;
                h5 {
                    font-weight: bold;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                a {
                    text-decoration: none;
                    color: $gray2;
                    font-size: 14px;
                    &:hover {
                        color: $gray1;
                    }
                }
            }
            .card-footer {
                border-top: 1px solid $whitesmoke;
                background-color: #fff;
                padding: 3px;
                img {
                    max-width: 60px;
                }
            }
        }
    }
    .btn-viewmore {
        background-color: #e5e5e5 !important;
        border-radius: 0;
        padding: 10px;
        color: $gray2 !important;
        width: 400px;
        transition: all .3s ease-in-out;
        &:hover {
            color: whitesmoke !important;
            transition: all .3s ease-in-out;
            background-color: #031b86 !important;
        }
    }
}

#head-banner {
    height: 500px;
    background-color: $bluedark;
}

#portfolio-list {
    // min-height: 100vh;
    padding: 15px;
    padding-top: 100px;
    // background-color: #fff;
    
    .portfolio-head {
        text-align: center;
        h1 {
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 23px;
            &:after {
                content: '';
                display: block;
                border-bottom: 1px solid #ebebeb;
                width: 4%;
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
    .portfolio-nav {
        padding-top: 50px;

        .toggle-filter {
            margin-bottom: 20px;
            h1 {
                font-size: 25px;
                font-weight: 500;
            }
            .btn-filter {
                border-radius: 0;
                color: $gray2;
                font-weight: 300;
                &:hover {
                    background-color: cyan;
                    color: $bluedark;
                }
            }
        }

        .card {
            border: 0 !important;
            border-radius: 0 !important;
            padding: 5px;
        }
        
        ul {
            li {
                .nav-link {
                    font-size: 14px;
                    background-color: whitesmoke;
                    color: gray;
                    font-weight: 400;
                    border-radius: 0;
                    margin: 5px;
                    &:hover {
                        background-color: $cyan;
                        color: $bluedark;
                    }
                    
                    &.active {
                        background-color: $bluedark !important;
                        color: white;
                    }
                }
            }
        }
        

    }
    .portfolio-item {
        padding-top: 20px;
        padding-bottom: 20px;
        
        .card,.card-img-top,.card-body {
            border: 0;
            border-radius: 0;
        }
        .card {
            overflow: hidden;
            max-height: 500px;
            margin-bottom: 30px;
            &:hover {
                .card-body {
                    transition: .2s ease-in-out;
                    bottom: 0;
                }
            }
            .card-body {
                transition: all .2s ease-in-out;
                background-color: rgba(3, 16, 58, 0.89);
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                bottom: -500px;
                flex-direction: column;
                text-align: center;
                h4 {
                    color: white;
                    margin-bottom: 9px;
                    font-size: 19px;
                }
                small {
                    margin-bottom: 20px;
                    color: #b6b6b6;
                    font-weight: 600;
                    &:after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid #00c3ff;
                        width: 10px;
                        margin: 0 auto;
                        margin-top: 10px;
                    }
                }
                .btn-zoom,.btn-detail {
                    border-radius: 0;
                    font-size: 14px;
                    font-weight: 600;
                }
                .btn-zoom {
                    background-color: $cyan;
                    color: $bluedark;
                    &:hover {
                        background-color: #71ffff;
                    }
                }
                .btn-detail {
                    border: 1px solid whitesmoke;
                    color: white;
                    &:hover {
                        background-color: whitesmoke;
                        color: $bluedark;
                    }
                }
            }
        }
        .btn-loadmore {
            background-color: #e6e6e6;
            border-radius: 0;
            width: 30vw;
            color: $gray1;
            font-weight: 400;
            font-size: 14px;
            &:hover {
                background-color: $bluedark;
                color: $whitesmoke;
            }
        }
    }
}

#portfolio-detail {
    min-height: 300px;

    .portfolio-image {
        .card {
            margin-top: -350px;
            border: 5px solid $blue;
            border-radius: 0;
            .card-body {
                padding: 0;
            }
        }
    }
    .portfolio-content {
        .desc {
            h2,h3,h4,h5,h6 {
                font-size: 21px;
                font-weight: 600;
            }
            .title {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 40px;
                font-weight: 600;
                &:after {
                    content: '';
                    display: block;
                    border-bottom: 1px solid $gray3;
                    width: 100%;
                    margin-top: 10px;
                }
            }
            .link-preview {
                color: $gray1;
                background-color: $gray3;
                font-size: 14px;
                font-weight: 600;
                border-radius: 0;
                margin-bottom: 15px;
                &:hover {
                    color: $cyan;
                    background-color: $bluedark;
                }
            }
            p {
                // margin-top: 20px;
                margin-bottom: 20px;
            }
            ul {
                list-style: square;
                padding-left: 20px;
                li {
                    padding: 3px;
                }
            }
            .meta {
                margin-top: 30px;
                margin-bottom: 30px;
                .media {
                    margin-top: 13px;
                    img {
                        max-width: 36px;
                        margin-right: 15px;
                    }
                    h5 {
                        font-size: 17px;
                        margin: 0;
                    }
                    small {
                        color: $gray1;
                    }
                }
            }
            .link-back {
                margin-top: 30px ;
                margin-bottom: 80px ;
                font-size: 15px;
                border: 0;
                font-weight: 600;
                padding: 0;
                color: $gray2;
                &:hover {
                    color: $darkgray
                }
            }
        }
        .latest-projects {
            .card {
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 0;
                border: none;
                background-color: #f8f8f8;
                .card-body {
                    h4 {
                        font-size: 21px;
                        font-weight: 600 !important;
                        margin-bottom: 20px;
                        &:after {
                            content: '';
                            display: block;
                            border-bottom: 2px solid $gray1;
                            width: 50px;
                            margin-top: 10px;
                        }
                    }
                    .media {
                        margin-bottom: 20px;
                        .media-img {
                            max-width: 70px;
                            margin-right: 15px;
                        }
                        .media-body {
                            h5 {
                                margin: 0;
                                a {
                                    font-family: 'Open Sans', sans-serif;
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: $gray1;
                                    text-decoration: none;
                                    &:hover {
                                        color: $darkgray;
                                    }
                                }
                            }
                            span {
                                font-size: 11px;
                                color: $gray2;
                            }
                        }
                    }
                }
            }
        }
    }
}

#testimonials {
    background-image: url('../images/bg_testimonials.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4px;
    padding-top: 90px;
    padding-bottom: 50px;
    min-height: 90vh;
    color: $whitesmoke;
    .head-testimonial {
        header {
            margin-bottom: 40px;
            h2 {
                font-size: 33px;
                font-weight: bold;
            }
        }
    }
    .testimonial-item {
        margin-top: 10px;
        .owl-carousel {
            display: flex;
            justify-content: center;
            .item {
                padding: 14px;  
                padding-top: 50px;  

                .card {
                    background-color: rgba(6, 6, 53, 0.712);
                    min-height: 450px;
                    transition: all .2s ease-in-out;
                    &:hover {
                        background-color: $whitesmoke;
                        .card-body {
                            h5 {
                                color: $darkgray
                            }
                            p {
                                color: gray !important;
                                font-weight: normal;
                            }
                        }
                    }
                    .card-header,.card-body {
                        border: none;
                    }
                    border-radius: 0;
                    .card-header {
                        display: flex;
                        justify-content: center;
                        padding: 0  ;
                        background: transparent;
                        .img-rounded {
                            border-radius: 50%;
                            margin-top: -50px;
                            z-index: 9999;
                            overflow: hidden;
                            border: 5px solid $cyan;
                            background-color: green;
                            width: 100px;
                            height: 100px;
                            img {
                                max-width: 200px;
                            }
                        }
                    }
                    .card-body {
                        h5 {
                            margin-bottom: 3px;
                            font-size: 22px;
                        }
                        small {
                            font-size: 11px;
                            color: $gray2;
                        }
                        p {
                            color: $whitesmoke;
                            font-weight: 200;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}

#testimonials-list {
    .header-testimonials {
        padding: 20px;
        background-color: $bluedark;
        .wrapper {
            margin-top: 140px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            .title {
                color: $gray3;
                h2 {
                    font-size: 20px;
                    font-weight: 200;
                    margin-bottom: 2px;
                }
                h1 {
                    font-size: 30px;
                    font-weight: 300;
                    color: $cyan;
                }

            }
            .item-breadcrumb {
                display: flex;
                align-items: center;
                nav {
                    background-color: transparent;
                    ol {
                        background-color: transparent;
                        li {
                            font-size: 14px;
                            a {
                                color: $gray3;
                            }
                        }
                    }
                }
                .breadcrumb-item + .breadcrumb-item::before {
                    content: '>';
                }
            }
        }

    }
    .content-testimonials {
        padding-top: 20px;
        padding-bottom: 30px;
        .card-columns {
            // @include media-breakpoint-only(lg) {
            //     column-count: 2;
            // }

            // @include media-breakpoint-only(xl) {
            //     column-count: 5;
            // }
            .card,.card-header,.card-body {
                border: none;
            }
            .card {
                transition: all .2s ease-in-out;
                border-radius: 0;
                .card-header {
                    display: flex;
                    padding: 0;
                    justify-content: center;
                    background: transparent;
                    .img-rounded {
                        border-radius: 50%;
                        margin-top: 30px;
                        z-index: 2;
                        overflow: hidden;
                        border: 3px solid $cyan;
                        background-color: green;
                        width: 100px;
                        height: 100px;
                        img {
                            padding: 0;
                            width: 100%;
                        }
                    }
                }
                .card-body {
                    padding: 30px;
                    text-align: center;
                    h5 {
                        margin-bottom: 3px;
                        font-size: 22px;
                    }
                    small {
                        font-size: 11px;
                        color: $gray2;
                    }
                    p {
                        text-align: left;
                        font-weight: 400;
                        font-size: 14px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}

#contact {
    background-color: #fff;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 100px;
    .head-contact {
        header {
            margin-bottom: 40px;
            h2 {
                font-size: 50px;
                font-weight: lighter;
                span {
                    font-weight: bold;
                    font-family: 'Titillium Web';
                }
            }
        }
    }
    .contact-item {
        .card {
            border: none;
            border-radius: 0;
            background-color: #f8f8f8;
            margin-bottom: 10px;
            .media {
                h5 {
                    font-weight: bold;
                }
                span {
                    color: $gray1;
                }
            }
        }
    }
    .contact-form {
        .card {
            margin-top: 40px;
            border: none;
            h5 {
                text-align: center;
                margin-bottom: 40px;
                color: $gray1;
                span {
                    font-weight: bold;
                }
            }
            .card-body {
                padding: 0;
                input[type=text],
                input[type=email],
                textarea {
                    font-size: 14px;
                    padding: 20px;
                    border-radius: 0;
                }
                .btn-message {
                    background-color: $bluedark;
                    color: $whitesmoke;
                    border-radius: 0;
                    padding: 10px;
                    &:hover {
                        background-color: $blue;
                    }
                }
            }
        }
    }
}

#blog {
    background-color: $blue;
    padding: 12px;
    padding-top: 50px;
    padding-bottom: 50px;
    .head-blog {
        header {
            margin-bottom: 40px;
            h2 {
                font-size: 33px;
                font-weight: bold;
                color: $whitesmoke;
            }
        }
    }
    .blog-item {
        .card {
            border: 0;
            margin-bottom: 20px;
            border-radius: 0;
            &:hover {
                box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.705);
            }
            .card-header,.card-body {
                border: 0;
                border-radius: 0;
            }
            .card-header {
                padding: 0;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
            .card-body {
                background-color: $whitesmoke;
                h4 {
                    margin-bottom: 0px;
                    font-weight: 600 !important;
                    a {
                        font-size: 17px;
                        color: #363636;
                        text-decoration: none;
                        &:hover {
                            color: #000000;
                        }
                    }
                }
                span {
                    font-size: 11px;
                    color: $gray2;
                    font-weight: 500;
                }
            }
        }
    }

}

#blog-list {
    #blog-banner-head {
        padding: 20px;
        padding-top: 100px;
        background-color: $bluedark;
        background-image: url('../images/bg-blog.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        .wrapper {
            margin-top: 100px;
            margin-bottom: 90px;
            text-align: center;
            
                h2 {
                    font-size: 20px;
                    font-weight: 200;
                    margin-bottom: 2px;
                }
                h1 {
                    font-size: 60px;
                    font-weight: 300;
                    color: $cyan;
                }
            
                nav {
                    background-color: transparent;
                    ol {
                        background-color: transparent;
                        li {
                            font-size: 14px;
                            a {
                                color: $gray3;
                            }
                        }
                    }
                }
                .breadcrumb-item + .breadcrumb-item::before {
                    content: '>';
                }
            
        }

    }
    #blog-item {
        // margin-top: -100px;
        .categories {
            background-color: #fff;
            padding: 10px !important;
            .nav-item {
                background-color: #F8F8F8;
                margin: 5px;
                transition: .3s ease;
                &:hover {
                    background-color: $cyan;
                    a {
                        color: $bluedark;
                    }
                }
                a {
                    color: $gray2;
                }
            }
        }
        .article {
            padding-top: 30px;
            .card,.card-img-top,.card-body,.card-footer {
                border: none;
                border-radius: 0;
            }   
            .card {
                margin-bottom: 20px;
                transition: .3s ease;
                &:hover {
                    box-shadow: -1px 4px 10px rgba(114, 113, 113, 0.19);
                }
                .card-body {
                    h4 {
                        font-size: 20px;
                        font-weight: 600;
                        a {
                            color: $gray1;
                            text-decoration: none;
                            &:hover {
                                color: $bluedark;
                            }
                        }
                    }
                }
                ul {
                    li {
                        .category {
                            font-weight: 600;
                            color: #00b7b7;
                        }
                    }
                }
                
                .credit {
                    text-align: center;
                    display: flex;
                    color: #727272;
                    .ava {
                        width: 25px;
                        height: 25px;
                        overflow: hidden;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    span {
                        font-weight: 400;
                    }
                }
            }
            .pagination-wrapper {
                padding-top: 20px;
                padding-bottom: 100px;
                ul {
                    border-radius: 0;
                    list-style: none;
                    padding: 0;
                    li {
                        float: left;
                        a {
                            display: block;
                            transition: .3s ease;
                            background-color: #fff;
                            border: 1px solid rgba(221, 221, 221, 0.224);
                            color: $gray2;
                            font-size: 17px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 20px;
                            padding-right: 20px;
                            text-decoration: none;
                            &.active {
                                background-color: $bluedark;
                                color: $whitesmoke;
                            }
                            &:hover {
                                background-color: $cyan;
                                color: $bluedark;
                            }
                        }
                        .next,.prev {
                            font-size: 13px;
                            background-color: transparent;
                            font-weight: 600;
                            border: none;
                            color: #a5a5a5;
                        }
                    }
                }
            }
        }
    }
}

#post-detail {
    background-color: $whitesmoke;
    #article {
        .head-blog {
            min-height: 80vh;
            background-color: $bluedark;
        }
        .content-blog {
            margin-top: -60vh;
            article {
                header {
                    color: $whitesmoke;
                    text-align: center;
                    margin-bottom: 5vh;
                    h1 {
                        font-size: 37px;
                        font-weight: 400;
                        &:after {
                            content: '';
                            display: block;
                            border-bottom: 2px solid $gray2;
                            width: 5%;
                            margin: 0 auto;
                            margin-top: 25px;
                        }
                    }
                    .credit {
                        text-align: center;
                        display: flex;
                        margin-top: 20px;
                        justify-content: center;
                        color: #acacac;
                        .ava {
                            width: 25px;
                            height: 25px;
                            overflow: hidden;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        span {
                            color: $cyan;
                        }
                    }
                    .share-article {
                        padding: 20px;
                        .nav-item {
                            .nav-link {
        
                                padding: 5px;
                            }
                        }
                    } 
                }
                .card {
                    border: 0;
                    // max-height: 90vh;
                    border-radius: 0;
                    .card-body {
                        overflow: hidden;
                        border: 6px solid #f0f0f0;
                        padding: 0;
                        img{
                            width: 100%;
                        }
                    }
                }
                .content {
                    padding-left: 65px;
                    padding-right: 65px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    p,li {
                        font-weight: 400;
                        line-height: 25px;
                        font-size: 16px;
                        color: #505050;
                    }
                    h1,h2,h3,h4,h5,h6 {
                        margin-bottom: 20px;
                        font-weight: 600;
                    }
                    h1,h2 {
                        color: #00b7b7;
                        font-weight: 600;
                        padding-left: 20px;
                    }
                    h3 {
                        margin-bottom: 8px;
                    }
                    ul {
                        list-style-type: square;
                        padding-left: 20px !important;
                    }
                    blockquote {
                        padding: 25px;
                        background-color: #e9e9e9;
                        border-left: 5px solid $cyan;
                        p {
                            line-height: 1.3em;
                            color: $gray1;
                            font-weight: 400;
                            font-size: 18px;
                            a {
                                font-weight: 600;
                                color: $darkgray;
                                font-style: italic;
                            }
                        }
                    }
                }
                .tags {
                    p {
                        font-weight: 600;
                        span {
                            font-weight: 700;
                            color: #00b7b7;
                        }
                    }
                }
            }
        }
    }
    #related-article {
        padding-top: 20px;
        padding-bottom: 30px;
        header {
            text-align: center;
            margin-bottom: 30px;
            margin-top: 30px;
            h3 {
                font-weight: 600;
                font-size: 24px;
                &:after {
                    content: '';
                    display: block;
                    width: 5%;
                    margin: 0 auto;
                    margin-top: 10px;
                    border-bottom: 2px solid $gray3;

                }
            }
        }
        .card,.card-img-top,.card-body,.card-footer {
            border: none;
            border-radius: 0;
        }
        .card {
            margin-bottom: 20px;
            &:hover {
                box-shadow: -1px 4px 10px rgba(114, 113, 113, 0.19);
            }
            .card-body {
                h4 {
                    font-size: 20px;
                    font-weight: 600;
                    a {
                        color: $gray1;
                        text-decoration: none;
                        &:hover {
                            color: $bluedark;
                        }
                    }
                }
            }
            ul {
                li {
                    .category {
                        font-weight: 600;
                        color: #00b7b7;
                    }
                }
            }
            
            .credit {
                text-align: center;
                display: flex;
                color: #727272;
                .ava {
                    width: 25px;
                    height: 25px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-right: 10px;
                }
                span {
                    font-weight: 400;
                }
            }
        }
    }
}

#team {
    .row .team-item:nth-child(1) {
        background-color: $whitesmoke;
    }
    .row .team-item:nth-child(2) {
        background-color: #E6E6E6;
    }
    .team-item {
        text-align: center;
        display: flex;
        padding: 50px;
        justify-content: center;
        .card {
            background-color: transparent;
            border-radius: 0;
            border: none;
            .card-header,.card-body {
                border: none;
            }
            .card-header {
                display: flex;
                justify-content: center;
                padding: 0  ;
                background: transparent;
                .img-rounded {
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    border: 5px solid $cyan;
                    width: 200px;
                    height: 200px;
                    img {
                        width: 100%;
                    }
                }
            }
            .card-body {
                h4 {
                    margin-bottom: 10px;
                    font-size: 30px;
                    font-weight: bold;
                }
                span {
                    font-size: 14px;
                    color: $gray2;
                    font-weight: 600;
                }
            }
        }
    }
}

footer {
    background-color: $bluedark;
    padding: 10px;
    .item-footer {
        color: $gray2;
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: 14px;
        h4 {
            color: $whitesmoke;
            font-size: 20px;
            margin-bottom: 10px;
            &:after {
                content: '';
                display: block;
                border-bottom: 1px solid $cyan;
                width: 50px;
                margin-top: 10px;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                color: $gray2;
                padding-top: 6px;
                font-weight: 500;
                font-size: 14px;
                a {
                    color: $gray2;
                    text-decoration: none;
                    &:hover {
                        color: $whitesmoke;
                    }
                }
            }
        }
        .logo {
            padding-left: 40px;
            img {
                max-width: 100px;
            }
        }
    }
    .credit-footer {
        min-height: 20px;
        border-top: 1px solid $blue;
        color: $gray2;
        font-size: 14px;
        padding: 15px;
        padding-left: 24px;
        padding-right: 24px;

        .site {
            color: white;
        }

        div:nth-child(2) {
            ul {
                float: right;
            }
        }
        
        a,li {
            color: $gray2;
        }
        a {
            text-decoration: none;
            &:hover {
                color: $whitesmoke;
            }
        }
        ul {
            list-style: none;
            li {
                float: left;
                margin-left: 8px;
                &:after {
                    content: '|';
                    margin-left: 6px;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    p {
        font-size: 14px;
    }
    .navbar-primary {
        .navbar-brand {
            img {
                width: 115px;
            }
        }
        .btn-sidemenu {
            padding: 0.2em;
            img {
                width: 22px;
            }
        }
        .btn-backtohome {
            padding: 0.9em 0 !important;
            font-size: 11.5px;
            .nav-item {
                .icon {
                    display: none;
                }
            }
        }
        .btn-socmed {
            padding-right: 10px;
            li {
                padding: 0;
                a {
                    font-size: 13px;
                }
            }
        }
    }

    .navbar-secondary {
        .navbar-brand {
            padding: 0;
            img {
                max-width: 120px;
                margin-top: 2px;
            }
        }
    }

    .btn-scrollTop {
        display: block;
        width: 20%;
        margin: 0 auto;
        border-radius: 6px 6px 0px 0px;
        padding: 5px;
        right: 0;
        bottom: 0;
        color: $gray1;
        left: 0;
        z-index: 9999;
        background-color: rgb(202, 202, 202) !important;
    }

    aside {
        width: 170px;
        header {
            font-size: 15px;
            font-weight: 600;
            padding: 10px 0;
            
            img {
                width: 35px;
            }
            button {
                font-size: 15px !important;
                padding: 3px 10px !important;
            }
        }
        .menu {
            padding: 15px 0;
            li {
                a {
                    line-height: 45px;
                    font-size: 14px;
                }
            }
        }
        .footer-sidemenu {
            font-size: 13px;
            .socmed {
                list-style: none;
                margin-top: 10px;
                font-size: 15px;
            }
        }
    }

    #hero {
        .row div:nth-child(2) {
            order: 1;
        }
        .caption-hero {
            text-align: center;
            h1 {
                font-size: 30px;
                font-weight: 400;
                margin-top: 5vh;
                margin-left: 0;
            }
            .btn-hero {
                width:150px;
                padding: 10px;
                margin-left: 0;
                font-size: 15px;
            }
        }
        
        .logo-hero {
            img {
                width: 170px;
                margin-top: 23vh;
            }
        }
    
        .socmed {
            background-color: $blue;
            position: absolute;
            width: 90px;
            height: 100%;
            ul {
                list-style: none;
                position: absolute;
                top: 36vh;
                left: -1.5em;
                li {
                    margin-bottom: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #about {
        min-height: 50vh;
        .about-caption {
            min-height: 70vh;
            padding: 6%;
            .nav-item{
                margin-right: 5px;
                .btn-about {
                    padding: 5px;
                    font-size: 17px;
                }
            }
            .tab-content {
                margin-top: 20px;
                h3 {
                    font-size: 18px;
                    font-weight: bolder;
                    margin-bottom: 10px;
                }
            }
            
        }
    }

    #clients {
        padding: 1em;
        .caption-clients {
            text-align: center;
            padding: 0px;
            padding-left: 0px;
            margin-top: 10px;
            margin-bottom: 20px;
            h2 {
                font-size: 23px;
                margin-bottom: 2px;
            }
            a {
                font-weight: 200;
                font-size: 13px;
            }
        }
        .clients-item {
            margin-bottom: 20px;
            .img-item {
                margin-left: 0px;
                text-align: center;
                .client {
                    max-width: 5em;
                }
            }
        }
    }

    #services {
        padding-top: 30px;
        padding-bottom: 50px;
        .head-services {
            header {
                margin-bottom: 20px;
                h2 {
                    font-size: 25px;
                }
            }
        }
        .item-services {
            padding: 6px;
            .card {
                .card-body {
                    min-height: 150px;
                    h5 {
                        font-size: 19px;
                    }
                }
                .card-footer {
                    .btn-services {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    #portfolio {
        padding-top: 30px;
        padding-bottom: 50px;
        .head-portfolio {
            header {
                margin-bottom: 20px;
                h2 {
                    font-size: 25px;
                }
            }
        }
        .item-portfolio {
            padding: 5px;
            .card {
                text-align: center;
                margin-bottom: 27px;
                border: none;
                &:hover {
                    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.055);
                    .card-header {
                        img {
                            transform: scale(2,2);
                            transition: all .3s ease-in-out;    
                        }
                    }
                }
                .card-header,.card-footer {
                    border: 0;
                }
                .card-header {
                    background-color: #fff;
                    padding: 0;
                    overflow: hidden;
                    img {
                        transition: all .2s ease-in-out ;
                    }
                }
                .card-body {
                    min-height: 100px;
                    h5 {
                        font-weight: bold;
                        font-size: 19px;
                        margin-bottom: 10px;
                    }
                    a {
                        text-decoration: none;
                        color: $gray2;
                        font-size: 14px;
                        &:hover {
                            color: $gray1;
                        }
                    }
                }
                .card-footer {
                    border-top: 1px solid $whitesmoke;
                    background-color: #fff;
                    padding: 3px;
                    img {
                        max-width: 60px;
                    }
                }
            }
        }
        .btn-viewmore {
            max-width: 250px;
            font-size: 13px;
            padding: 10px;
        }
    }

    #head-banner {
        height: 250px;
        background-color: $bluedark;
    }

    #portfolio-list {
        padding: 0px;
        padding-top: 50px;
        .portfolio-nav {
            padding-top: 50px;
            background-color: $bluedark;
    
            .toggle-filter {
                margin-bottom: 20px;
                h1 {
                    font-size: 22px;
                    color: $whitesmoke;
                    font-weight: 200;
                    margin-right: 20px;
                }
                .btn-filter {
                    border-radius: 0;
                    color: $gray3;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column-reverse;
                    background-color: $blue;
                    font-size: 14px !important;
                    font-weight: 400;
                    &:hover {
                        background-color: cyan;
                        color: $bluedark;
                    }
                }
            }
            
            ul {
                li {
                    .nav-link {
                        font-size: 12px;
                    }
                }
            }
            
    
        }
        .portfolio-item {
            padding-top: 20px;
            padding-bottom: 20px;
            
            .card,.card-img-top,.card-body {
                border: 0;
                border-radius: 0;
            }
            .card {
                margin-bottom: 20px;
            }
        }
    }

    #portfolio-detail {
        min-height: 300px;
        .portfolio-image {
            .card {
                margin-top: -130px;
            }
        }
        .portfolio-content {
            .desc {
                h2,h3,h4,h5,h6 {
                    font-size: 19px;
                }
                .title {
                    font-size: 26px;
                }
                .link-preview {
                    font-size: 13px;
                }
                p {
                    font-size: 13px;
                }
                ul {
                    li {
                        font-size: 13px;
                    }
                }
                .meta {
                    .media {
                        h5 {
                            font-size: 15px;
                        }
                        small {
                            font-size: 12px;
                        }
                    }
                }
                .link-back {
                    margin-top: 10px ;
                    margin-bottom: 20px ;
                    font-size: 14px;
                }
            }
            .latest-projects {
                .card {
                    .card-body {
                        h4 {
                            font-size: 19px;
                            &:after {
                                border-bottom: 1px solid $darkgray;
                            }
                        }
                        .media {
                            .media-body {
                                h5 {
                                    a {
                                        font-size: 15px;
                                        &:hover {
                                            font-weight: 500;
                                        }
                                    }
                                }
                                span {
                                    font-size: 11px;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    #testimonials {
        padding-top: 50px;
        .head-testimonial {
            header {
                // margin-bottom: 20px;
                h2 {
                    font-size: 25px;
                }
            }
        }
    }

    #testimonials-list {
        .header-testimonials {
            padding: 0;
            .wrapper {
                margin-top: 100px;
                margin-bottom: 10px;
                text-align: center;
                flex-direction: column;
                .title {
                    color: $gray3;
                    h2 {
                        font-size: 17px;
                    }
                    h1 {
                        font-size: 25px;
                    }
    
                }
                .item-breadcrumb {
                    justify-content: center;
                    nav {
                        ol {
                            li {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
    
        }
        .content-testimonials {
            padding-top: 20px;
            padding-bottom: 30px;
            .card-columns {
                // @include media-breakpoint-only(lg) {
                //     column-count: 2;
                // }
    
                // @include media-breakpoint-only(xl) {
                //     column-count: 5;
                // }
                .card,.card-header,.card-body {
                    border: none;
                }
                .card {
                    .card-body {
                        padding: 20px;
                        h5 {
                            margin-bottom: 0px;
                            font-size: 20px;
                        }
                        small {
                            font-size: 11px;
                            color: $gray2;
                        }
                        p {
                            font-size: 14px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    
    }

    #post-detail {
        #article {
            .head-blog {
                min-height: 80vh;
                background-color: $bluedark;
            }
            .content-blog {
                margin-top: -63vh;
                article {
                    header {
                        margin-bottom: 2vh;
                        h1 {
                            font-size: 23px;
                            &:after {
                                width: 10%;
                            }
                        }
                        .credit {
                            font-size: 14px;
                        }
                        .share-article {
                            .nav-item {
                                .nav-link {
                                    img {
                                        max-width: 30px;
                                    }
                                }
                            }
                        } 
                    }
                    .card {
                        .card-body {
                            border: 3px solid #f0f0f0;
                        }
                    }
                    .content {
                        padding-left: 5px;
                        padding-right: 5px;
                        p,li {
                            line-height: 23px;
                            font-size: 14px;
                        }
                        h1,h2 {
                            font-size: 23px;
                            padding-left: 10px;
                        }
                        h3 {
                            font-size: 20px;
                        }
                        blockquote {
                            padding: 20px;
                            p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
        #related-article {
            padding-top: 20px;
            padding-bottom: 30px;
            header {
                text-align: center;
                margin-bottom: 30px;
                margin-top: 30px;
                h3 {
                    font-weight: 600;
                    font-size: 22px;
                    &:after {
                        content: '';
                        display: block;
                        width: 10%;
                        margin: 0 auto;
                        margin-top: 10px;
                        border-bottom: 2px solid $gray3;
    
                    }
                }
            }
            .card,.card-img-top,.card-body,.card-footer {
                border: none;
                border-radius: 0;
            }
            .card {
                .card-body {
                    h4 {
                        font-size: 18px;
                        font-weight: 600;
                        a {
                            color: $gray1;
                            text-decoration: none;
                            &:hover {
                                color: $bluedark;
                            }
                        }
                    }
                }
                ul {
                    li {
                        .category {
                            font-weight: 600;
                            color: #00b7b7;
                            font-size: 12px;
                        }
                        .post-date {
                            font-size: 12px;
                        }
                    }
                }
                
                .credit {
                    text-align: center;
                    display: flex;
                    color: #727272;
                    .ava {
                        width: 25px;
                        height: 25px;
                        overflow: hidden;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                    span {
                        font-weight: 400;
                        font-size: 11px;
                    }
                }
            }
        }
    }

    #contact {
        padding-top: 30px;
        .head-contact {
            header {
                margin-bottom: 30px;
                h2 {
                    font-size: 30px;
                }
            }
        }
        .contact-item {
            .card {
                margin-bottom: 10px;
                .media {
                    img {
                        max-width: 50px;
                    }
                    h5 {
                        font-size: 18px;
                    }
                    span {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
        .contact-form {
            .card {
                margin-top: 25px;
                h5 {
                    margin-bottom: 35px;
                    font-size: 19px;
                }
            }
        }
    }

    #team {
        .team-item {
            .card {
                .card-header {
                    .img-rounded {
                        width: 150px;
                        height: 150px;
                        img {
                            max-width: 150px;
                        }
                    }
                }
                .card-body {
                    h4 {
                        margin-bottom: 10px;
                        font-size: 25px;
                        font-weight: bold;
                    }
                    span {
                        font-size: 15px;
                        color: $gray1;
                    }
                    p {
                        color: $whitesmoke;
                        font-weight: 300;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    
    footer {
        padding: 5px;
        padding-bottom: 50px;
        .item-footer {
            font-size: 12px;
            h4 {
                color: $whitesmoke;
                font-size: 18px;
                margin-bottom: 10px;
                &:after {
                    width: 100%;
                }
            }
            ul {
                margin-bottom: 30px;
                li {
                    font-size: 13px;
                }
            }
            .logo {
                text-align: center;
                padding-left: 0;
                margin-bottom: 30px;
                img {
                    width: 100px;
                }
            }
        }
        .credit-footer {
            font-size: 13px;
            padding: 15px;
            text-align: center;
    
            .site {
                color: white;
            }
    
            div:nth-child(2) {
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                    margin-top: 10px;
                    padding: 0;
                    li {
                        padding: 0;
                        font-size: 13px;
                        &:after {
                            content: '|';
                        }
                    }
                }
            }
            
            a,li {
                color: $gray2;
            }
            a {
                text-decoration: none;
                &:hover {
                    color: $whitesmoke;
                }
            }
        }
        .credit-footer div:nth-child(1) {
            order: 2;
        }
    }
}

// ipad 
@media (min-width: 768px) and (max-width: 991.98px) {
    #hero {
        .row div:nth-child(2) {
            order: 1;
        }
        .caption-hero {
            text-align: center;
            h1 {
                font-size: 40px;
                font-weight: 400;
                margin-top: 5vh;
                margin-left: 0;
            }
            .btn-hero {
                width:180px;
                padding: 10px;
                margin-left: 0;
                font-size: 17px;
            }
        }
        
        .logo-hero {
            img {
                width: 300px;
                margin-top: 23vh;
            }
        }
    
        .socmed {
            visibility: hidden;
        }
    }

    #clients {
        padding: 1em;
        .caption-clients {
            text-align: center;
            padding: 0px;
            padding-left: 0px;
            margin-top: 10px;
            margin-bottom: 38px;
            h2 {
                font-size: 30px;
            }
            a {
                font-weight: 200;
            }
        }
        .clients-item {
            margin-bottom: 20px;
            .img-item {
                margin-left: 0px;
                .client {
                    max-width: 6em;
                }
            }
        }
    }

    #portfolio-detail {
        min-height: 300px;
        padding: 20px;
    
        .portfolio-content {
            .latest-projects {
                .card {
                    margin-top: 0px;
                    background: transparent;
                    .card-body {
                        display: flex;
                        padding: 0;
                        h4 {
                            display: none;
                        }
                        .media {
                            display: flex;
                            flex-direction: column;
                            .media-img {
                                max-width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }

    #testimonials-list {
        .header-testimonials {
            padding: 0;
            .wrapper {
                margin-top: 140px;
                margin-bottom: 10px;
                text-align: center;
                flex-direction: column;
                .title {
                    color: $gray3;
                    h2 {
                        font-size: 17px;
                    }
                    h1 {
                        font-size: 25px;
                    }
    
                }
                .item-breadcrumb {
                    justify-content: center;
                    nav {
                        ol {
                            li {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
    
        }
        .content-testimonials {
            padding-top: 20px;
            padding-bottom: 30px;
            .card-columns {
                .card,.card-header,.card-body {
                    border: none;
                }
                .card {
                    .card-body {
                        padding: 20px;
                        h5 {
                            margin-bottom: 0px;
                            font-size: 20px;
                        }
                        small {
                            font-size: 11px;
                            color: $gray2;
                        }
                        p {
                            font-size: 14px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    
    }
}

// ipad pro
@media (min-width: 769px) and (max-width: 1024px) {
    #hero {
        overflow: hidden;
        height: 50vh;
        .caption-hero {
            h1 {
                font-size: 47px;
                margin-top: 18vh;
                margin-left: 5vh;
            }
            .btn-hero {
                width:220px;
                padding: 10px;
                background-color: $cyan;
                border-radius: 0;
                margin-top: 30px;
                margin-left: 5vh;
                font-size: 18px;
                font-weight: 700 !important;
                border-left: 7px solid whitesmoke;
                &:hover {
                    border-left: 7px solid whitesmoke;
                    background-color: whitesmoke;
                }
            }
        }
        
        .logo-hero {
            img {
                margin-top: 17vh;
                width: 320px;
            }
        }
    
        .socmed {
            visibility: hidden;
        }
    }

    #about {
        min-height: 50vh;
        .about-caption {
            min-height:40vh;
            padding: 4%;
            .nav-item{
                margin-right: 5px;
                .btn-about {
                    padding: 5px;
                    font-size: 17px;
                }
            }
            .tab-content {
                margin-top: 20px;
                h3 {
                    font-size: 18px;
                    font-weight: bolder;
                    margin-bottom: 10px;
                }
            }
            
        }
    }
    footer {
        .item-footer {
            .logo {
                text-align: center;
                padding-left: 0;
                margin-bottom: 30px;
                img {
                    width: 120px;
                }
            }
        }
    }
}